<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">We provide value added Security to your Bussiness. </h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-bug fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Security assessment</h4>
                    <p class="text-muted" >
	<ul style="list-style-type:none;">
	<li> Vulnerability assessment and management </li>
	<li> RedTeaming and Penetration testing </li>
	<li> Information systems security audits </li>
	<li> Mobile application security analysis </li> </ul></p>
		</div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-fighter-jet fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Security Enhancement</h4>
                    <p class="text-muted" align="left">
	<ul style="list-style-type:none;">
	<li> Incident response </li>
	<li> Digital forensics </li>
	<li> Security awareness training </li> </ul></p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Governance, Risc and Compliance</h4>
                    <p class="text-muted" align="left">
	<ul style="list-style-type:none;">	
	<li> Consulting </li>
	<li> GDPR Compliance </li> </ul><p>
	<!--	<div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-thermometer-three-quarters fa-stack-1x"></i>
                    </span>
                    <h4 class="service-heading">IT services</h4>
                    <p class="text-muted" align="left">
	<ul style="list-style-type:none;">
	<li> Outsourcing IT services - moving services outside the organization </li>
	<li> Implementation and integration of the latest technologies </li>
	<li> Cloud technologies and visualization </li> </ul></p>
                </div> -->
            </div>
        </div>
    </section>
